* {
  box-sizing: border-box; }

body {
  background-color: #5e5e5f;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

main .main-content {
  background-color: #3f404096;
  border-top: 0.5px solid #fff1b9;
  border-bottom: 0.5px solid #fff1b9; }

.m-top-xl {
  margin-top: 300px; }

.btn-secondary {
  background-color: #272625; }

.dropdown-menu {
  background-color: #272625;
  color: #fff1b9; }

.dropdown-item {
  color: #fff1b9;
  border-bottom: 0px;
  transition: border-bottom 2s linear; }
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #272625;
    color: #fff1b9;
    border-bottom: 1px solid #fff1b9; }

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff1b9;
  background-color: #272625;
  border-color: #fff1b9;
  outline: none; }

.btn-secondary:hover {
  background-color: #272625;
  border-color: #fff1b9;
  color: #fff1b9;
  outline: none; }

.image-handler {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  border-left: 1px solid #cff09e;
  border-right: 1px solid #cff09e;
  height: 400px; }

.text-center {
  text-align: center; }

.vertical-middle {
  vertical-align: middle; }

#text {
  position: absolute;
  z-index: 999; }
  #text.green {
    color: green; }
  #text.red {
    color: red; }
  #text.blue {
    color: blue; }

textarea {
  resize: both;
  max-width: 500px;
  max-height: 400px;
  background: transparent;
  border: 0.5px;
  border-color: violet;
  text-align: center;
  overflow: hidden;
  outline: 1px solid #a8dba8; }

@media screen and (max-width: 1366px) {
  .m-top-lg {
    margin-top: 225px; } }
