* {
  box-sizing: border-box; }

body {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.m-top-400 {
  margin-top: 400px; }

.btn-secondary {
  background-color: #203A43; }

.dropdown-menu {
  background-color: #2C5364;
  color: white; }

.dropdown-item {
  color: white; }
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #2C5364;
    color: gold; }

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: rgba(255, 217, 0, 0.863);
  background-color: #0F2027;
  border-color: #0F2027; }

.btn-secondary:hover {
  background-color: #0F2027;
  border-color: #0F2027;
  color: rgba(255, 217, 0, 0.863); }
