* {
    box-sizing: border-box;
}

body {
    // background-image: url(../../images/background.jpg);
    background-color: #403B4A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

main {
    background-color: black;
    opacity: 0.5;
}

.m-top-xl {
    margin-top: 300px;
    // margin: 100px auto;
}

.btn-secondary {
    background-color: #8e8eda;
}
.dropdown-menu {
    background-color: #8e8eda;
    color: white;
}
.dropdown-item {
    &:hover,
    &:focus {
        background-color: #8e8eda;
        color: gold;
    }
    color: white;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: rgba(255, 217, 0, 0.863);
  background-color: #8e8eda;
  border-color: #8e8eda;
}
.btn-secondary:hover {
  background-color: #8e8eda;
  border-color: #8e8eda;
  color: rgba(255, 217, 0, 0.863);
}

.image-handler {
    width: 100%;
    background-color: #ceceef4f;
    border: 1px solid #a19f9f;
    height: 400px;
    // transform: translateY(-25%);
}

.text-center {
    text-align: center;
}
.vertical-middle {
    vertical-align: middle;
}

#text {
    &.green {
        color: green;
    };
    &.red {
        color: red;
    };
    &.blue {
        color: blue;
    };
    position: absolute;
    z-index: 999;
}

textarea {
    resize: both;
    max-width: 500px;
    max-height: 400px;
    background: transparent;
    border: 0.5px;
    border-color: violet;
    text-align: center;
    overflow: hidden;
    outline: 1px dotted orchid;
}


@media screen and (max-width: 1366px) {
    .m-top-lg {
        margin-top: 225px;
        // margin: 100px auto;
    }
} 
