* {
    box-sizing: border-box;
}

body {
    // background-image: url(../../images/background.jpg);
    background-color: #403B4A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

// .dropd {
//     height: 10vh;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     margin: auto;
// }

// .colors,
// .sizes {
//     position: relative;

//     ul {
//         background: white;
//         position: absoulute;
//         left: 0px;
//         margin-top: 10px;
//         width: 200px;
//         height: 200px;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: column;
//     }
// }

// .container {
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }
.m-top-xl {
    margin-top: 400px;
}

.btn-secondary {
    background-color: #8e8eda;
}
.dropdown-menu {
    background-color: #8e8eda;
    color: white;
}
.dropdown-item {
    &:hover,
    &:focus {
        background-color: #8e8eda;
        color: gold;
    }
    color: white;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: rgba(255, 217, 0, 0.863);
  background-color: #8e8eda;
  border-color: #8e8eda;
}
.btn-secondary:hover {
  background-color: #8e8eda;
  border-color: #8e8eda;
  color: rgba(255, 217, 0, 0.863);
}

.image-handler {
    width: auto;
    background-color: #ceceef4f;
    border: 1px solid #a19f9f;
    height: 400px;
    transform: translateY(-25%);
}

.text-center {
    text-align: center;
}
.vertical-middle {
    vertical-align: middle;
}

@media screen and (max-width: 1366px) {
    .m-top-lg {
        margin-top: 225px;
    }
} 
